
.root {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.input {
    
}

.search_box {
    background-color: white;
    display: flex;
    align-items: center;
    height: 32px;
    gap: 8px;
    padding: 8px 16px 8px 12px;
}

.icon {
    width: 16px;
    height: 16px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 8px;
}